.page_article {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;

    .article_header {
        position: relative;
        z-index: 1;

        .header_container {
            display: flex;
            align-items: center;
            padding: 13px 20px;

            .container_author {
                flex-grow: 1;

                .author_data {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .data_avatar {
                        background-color: #8c8c8c;
                        border-radius: 20px;
                        height: 40px;
                        width: 40px;
                    }

                    .data_name {
                        display: block;
                        font-size: 16px;
                    }
                }
            }

            .container_btn {
                display: flex;
                gap: 8px;

                .btn_like {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #666666;
                    border-radius: 5px;
                    height: 30px;
                    min-width: 40px;
                    color: #666666;
                    transition: 0.1s;

                    &:hover {
                        color: #1a1a1a;
                        border: 1px solid #1a1a1a;
                    }
                }

                .btn_save {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #666666;
                    border-radius: 5px;
                    height: 30px;
                    min-width: 40px;
                    color: #666666;
                    transition: 0.1s;

                    &:hover {
                        color: #1a1a1a;
                        border: 1px solid #1a1a1a;
                    }
                }
            }
        }
    }

    .article_main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}