.comment_section {
    padding-top: 50px;
    padding-inline: 20px;

    .comment_section {
        display: flex;
        flex-direction: column;

        .section_title {
            margin-bottom: 24px;
            line-height: 1.5rem;
        }

        .section_form {

            .form_container {
                display: flex;
                align-items: center;
                gap: 10px;

                .container_image {
                    background-color: #8c8c8c;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                }

                .container_input {
                    width: 90%;
                    height: 40px;
                    padding: 0 1vh;
                    border-radius: 10px;
                    box-shadow: 0 0 0 1px #d9d9d9;
                }

                .container_button {
                    background-color: #e6e6e6;
                    border-radius: 20px;
                    width: 60px;
                    height: 40px;

                    &:hover {
                        background-color: #cccccc;
                        cursor: pointer;
                    }
                }
            }
        }

        .section_comments {
            display: inline-flex;
            width: 100%;
            padding-top: 20px;

                .comment_container {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .container_image {
                        background-color: #8c8c8c;
                        border-radius: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                    }

                    .container_main {
                        display: flex;
                        flex-direction: column;

                        .main_header {
                            font-size: 16px;
                            font-weight: 600;
                        }

                        .main_con {
                            font-size: 14px;
                            line-height: 1.5rem;
                        }
                    }
                }
        }
    }
}

@media screen and (min-width: 768px){
    .comment_section {
        max-width: 1320px;
        width: 100%;
        margin-inline: auto;
    }
}