.container_grid {
        display: grid;
        align-items: start;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 10px;
        margin-bottom: 3rem;

        .grid_row {
            display: grid;
            grid-template-columns: minmax(0, 1fr);
            overflow: hidden;
            width: 300px;
                
            .image_container {
                height: 300px;
                width: 300px;
                object-fit: cover;
                vertical-align: top;
            }

            .image_nakladka {
                height: 300px;
                width: 300px;
                position: absolute;

                .nakladka_ramka {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    padding: 20px;
                    position: absolute;
                    opacity: 0;
                    transition: all 0.1s ease-in-out;

                    &:hover {
                        opacity: 1;
                        background-color: rgba(77,77,77,0.5);
                    }

                    .grid1 {
                        display: grid;
                        grid-template-columns: minmax(0, min-content) auto;
                        position: relative;

                        .przyciski_gorne {
                            display: flex;
                            position: absolute;
                            top: 0;
                            right: 0;
                            gap: 8px;


                            .like {
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                border: 1px solid #666666;
                                border-radius: 5px;
                                height: 30px;
                                min-width: 40px;
                                color: #666666;
                                transition: 0.1s;

                                &:hover {
                                    color: #1a1a1a;
                                    border: 1px solid #1a1a1a;
                                }
                            }

                            .save {
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                border: 1px solid #666666;
                                border-radius: 5px;
                                height: 30px;
                                min-width: 40px;
                                color: #666666;
                                transition: 0.1s;

                                &:hover {
                                    color: #1a1a1a;
                                    border: 1px solid #1a1a1a;
                                }
                                
                            }
                        
                    }
                    }

                    .grid2 {
                        display: grid;
                        grid-template-columns: minmax(0, min-content) auto;
                        margin-top: auto;
                        position: relative;

                        .przyciski_dolne {
                        display: flex;
                        justify-content: space-between;

                        .autor {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            .avatar {
                                background-color: #8c8c8c;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 20px;
                                width: 40px;
                                height: 40px;
                            }

                            .name {
                                display: block;
                                color: #d9d9d9;

                                &:hover {
                                    color: white;
                                }
                            }
                        }

                        
                    }
                    }
                }
            }

            // .modal{
            //     position:fixed;
            //     top:0;
            //     left:0;
            //     width:100%;
            //     height:100%;
            //     background-color: rgba(0,0,0,0.7);
            //     z-index:-1;
            //     display:flex;
            //     justify-content: center;
            //     align-items: center;
            //     opacity: 1;
            //     transition: all 0.5s ease-in-out;
            
            //     .btn {
            //         position: absolute;
            //         top:20px;
            //         right:20px;
            //         color:#fff;
            //         background-color: transparent;
            //         border:0;
            //         font-size: 25px;
            //         cursor: pointer;
            //     }
            
            //     .modal-item {
            //         display: flex;
            //         justify-content: center;
            //         align-items: center;
            //         z-index: 101;
            //         width: 300px;
            //     }
            // }

            // .active {
            //     opacity:1;
            //     z-index:100;
            // }
        }
    }