.picture_section {
    padding: 1rem 2rem;

    .article_header {
        position: relative;
        z-index: 1;

        .header_container {
            display: flex;
            align-items: center;
            padding: 13px 20px;

            .container_author {
                flex-grow: 1;

                .author_data {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .data_avatar {
                        background-color: #8c8c8c;
                        border-radius: 20px;
                        height: 40px;
                        width: 40px;
                    }

                    .data_name {
                        display: block;
                        font-size: 16px;
                    }
                }
            }

            .container_btn {
                display: flex;
                gap: 8px;

                .btn {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #a7a7a7;
                    border-radius: 5px;
                    height: 30px;
                    min-width: 40px;
                    color: #666666;
                    transition: 0.1s;

                    &:hover {
                        color: #1a1a1a;
                        border: 1px solid #1a1a1a;
                    }
                }
            }
        }
    }

    .main_content {
        display: flex;
        justify-content: center;
    }

    .main_info {
        padding-top: 15px;
        padding-inline: 20px;

        .info_container {
            max-width: 600px;

            .container_title {
                font-size: 18px;
                font-weight: 600;
                line-height: 1.5rem;
                text-align: left;
            }

            .container_description {
                font-size: 14px;
                padding-top: 8px;
            }

            .container_date {
                display: flex;
                align-items: center;
                font-size: 14px;
                padding-top: 20px;

                .date_icon {
                    margin-right: 8px;
                }
            }
        }

        .info_tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            padding-top: 20px;

            .tags_item {
                display: inline-block;
                background-color: #e6e6e6;
                padding: 5px 10px;
                border-radius: 3px;

                &:hover {
                    background-color: #d9d9d9;
                    cursor: pointer;
                }
            }
        }
    }
}